body{
    background-color: gray;
}

ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
place-items: center;
list-style: none;
}

img{
    /* width: 20vw;
    height: 30vh;
    margin: 10px; */
    aspect-ratio: 1/1;
    max-width: 300px;
}