*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    max-width: 1400px;
    margin: auto;
}

h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

div{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

img{
    width: 325px;
    height: 300px;
}

.fav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #CEF9FF;
    height: 75px;
}

.fa-heart{
    color: red;
    cursor: pointer;
}

a{
    color: black    ;
    text-decoration: none;
    
}